
.header-section {
    display: flex;
    background: $brand-color4;

    // @include media-breakpoint-up('md') {
    //     .drawer-nav ~ & {
    //         padding-left: $drawer-nav-width;
    //     }
    //     .drawer-nav-toggle {
    //         display: none;
    //     }
    // }

    // @include media-breakpoint-down('sm') {
    //     position: static;
    //     // margin-top: $header-nav-height;
    //     // .header-nav ~ & {
    //     //     top: $header-nav-height;
    //     // }
    // }

    .title {
        margin: 0;
        padding: 0.875rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 32px;
        // color: $gray;

        a {
            @include plain-hover-focus {
                color: $gray-light;
            }
            @include hover-focus-active {
                text-decoration: underline;
            }
        }

        .fa {
            margin-right: 0.25rem;
            color: $gray-light;
        }
    }

    .drawer-nav-toggle {
        margin-left: auto;
        padding: 0.5625rem 1rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1;
        color: $gray;

        .fa {
            color: $gray-light;
        }
    }
}
