
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "sidebar";
@import "header";
@import "main";
@import "guest";
@import "card";
@import "table";
@import "forms";
@import "error";
@import "misc";

label {
    margin-bottom: 0.2rem;
}

.action-nav {
    position: fixed;
    left: $drawer-nav-width;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background: transparent;
    z-index: $zindex-navbar;

    @include media-breakpoint-down('sm') {
        left: 0;
    }
}


.modal-enter-active, .modal-leave-active {
    transition: opacity .3s;
}
.modal-enter, .modal-leave-to {
    opacity: 0;
}
.modal-backdrop-enter-active, .modal-backdrop-leave-active {
    transition: opacity 0.15s;
}
.modal-backdrop-enter, .modal-backdrop-leave-to {
    opacity: 0;
}
